/* start box  */
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
/* end box  */
.bg-white{
    background-color: white;
}

.p-10 {
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.m-20{
    margin: 20px;
}
.mt-0{
    margin-top: 0;
}
.p-relative{
    position: relative;
}
.txt-c{
    text-align: center;

}
@media(max-width:767px) {
    .txt-c-mobile{
        text-align: center;
    }
}

.fs-14{
    font-size: 14px;
}
.rad-6{
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}

.w-full{
    width: 100%;
}
.between-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-grid{
    display: grid;
}
.gap-20{
    gap: 20px;
}
@media(max-width:767px) {
    .block-mobile{
        display: block;
    }
}
.d-block {
    display: block;
}
.c-grey{
    color: var(--grey-color);
}
.f-wrap{
    flex-wrap: wrap;
}
