:root{
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --border-color: #ccc;

    }
*{
    box-sizing: border-box;
}
body{
    font-family: "open sans" , sans-serif;
    margin: 0;
}
*:focus{
    outline: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    color: black;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
    transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}
.page{
    background-color: #f1f5f9;
    min-height: 100vh;
}
.sidebar{
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}
@media(max-width:767px) {
.sidebar {
    width: 62px;
    padding: 10px;
}
}

.sidebar > h3{
    margin-bottom: 50px;
}
@media(max-width:767px) {
    .sidebar > h3{
        margin: 0;
        font-size:13px ;
    }
}
.sidebar>h3::before,
.sidebar>h3::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
}

.sidebar>h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
}

.sidebar>h3::after {
    width: 12px;
    height: 12px;
    border: 4px solid white;
    border-radius: 50%;
    bottom: -29px;
}
@media(max-width:767px) {

    .sidebar>h3::before,
    .sidebar>h3::after {
        display: none;
    }
}

@media(max-width:767px) {
.sidebar ul {
    text-align: center;
}
}
.sidebar ul li a{
transition: 0.3s;
margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active{
    background-color: #f6f6f6;
}
.sidebar ul li a span{
    font-weight: 500;
font-size: 14px;
margin-left: 10px;
text-transform: capitalize;
}
@media(max-width:767px){
    .sidebar ul li a span{
        display: none;
    }
}
.content{
    overflow: hidden;
}
.content .head{
    padding: 15px;
}
.content .head .search input {
    border-radius:10px ;
    border:  1px solid var(--border-color);
    margin-left: 5px;
    padding-left:30px ;
    width: 160px;
    transition: 0.3s;
}
.content .head .search input:focus {
    width: 200px;
}
.content .head .search input:focus::placeholder {
    opacity: 0;
}
.content .head .search::before{
    font-family: "Font Awesome 6 Free";
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
    
}
.content .head .icon .not{
    font-weight: 900;
    font-size: 20px;
    position: relative;
}
.content .head .icon .not::before {
    position: absolute;
    content: "";
    top: -5px;
    right: -5px;
    background-color: var(--red-color);
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.content .head img{
    width: 32px;
    margin-left: 15px;
}
.page h1{
    margin: 20px 20px 40px;
    text-transform: capitalize;
    
}
.page h1::before,
.page h1::after {
    position:absolute;
    height: 3px;
    left: 0;
    bottom: -10px;
    content:'';
}
.page h1::before{
    width: 120px;
    background-color: white;
}
.page h1::after {
    background-color: black;
    width: 40px;
}
.page .wrapper {
    margin: 0 10px;
    
}
@media(min-width:768px){
.page .wrapper {
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        margin-left: 20px;
        margin-right: 20px;
    }
}
.page .wrapper .welcome{
    overflow: hidden;
}
.page .wrapper .welcome .top { 
    display: flex;
    justify-content: space-between;
    background-color:#eee;
    padding: 20px;
    text-transform: capitalize;
}

.page .wrapper .welcome .top .text h2{
    margin: 0;
}
.page .wrapper .welcome .top .text p{
    margin-top: 6px;
    color: var(--grey-color);
}
.page .wrapper .welcome .top img {
    width: 200px;
    margin-bottom: -10px;
}
@media(max-width:767px){
.page .wrapper .welcome .top img {
    display: none;
}
}

.page .wrapper .welcome .avatar {
    width: 62px;
    margin-left: 20px;
    margin-top: -32px;
    border: 2px solid white;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    border-radius: 50%;
}
.page .wrapper .welcome .body{
margin: 20px 0;
border-top: 1px solid #eee;
border-bottom: 1px solid #eee;
align-items: center;
padding: 20px;
justify-content: space-around;
}
.page .wrapper .welcome .body div{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    flex: 1;

}
.page .wrapper .welcome .body div span{
    color: var(--grey-color);
    margin-top: 10px;
    font-size: 14px;
}
.page .wrapper .welcome a{
    color: white;
    font-size: 14px;
    border-radius: 6px;
    padding: 4px 10px;
    background-color: var(--blue-color);
    margin: 0 15px 15px auto;
    display: block;
    width: fit-content;
}
@media(max-width:767px){
    .welcome .top{
        padding-bottom: 30px;
    }
    .welcome .avatar{
        margin-right: 20px;
    }
    .welcome .body > div:not(:last-child){
        margin-bottom: 20px;
    }
}

.page .wrapper .draft h2{
    margin: 0;
}
.page .wrapper .draft p {
    margin: 10px 0 20px;
    text-transform: capitalize;
    font-size: 15px;
    color: var(--grey-color);
}
.page .wrapper .draft form{
    display: flex;
    flex-direction: column;
}
.page .wrapper .draft form .title,
.page .wrapper .draft form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: #eee;
}
.page .wrapper .draft form textarea {
    margin-top: 20px;
    height: 180px;
}
.page .wrapper .draft form .butt{
    align-self: flex-end;
    margin-top: 20px;
    width: fit-content;
    color: white;
    background-color: var(--blue-color);
    border-radius: 6px;
    border: none;
    padding: 5px 10px;
}
.page .wrapper .targets h2 {
    margin: 0;
}

.page .wrapper .targets p {
    margin: 10px 0 20px;
    text-transform: capitalize;
    font-size: 15px;
    color: var(--grey-color);
}
.page .wrapper .targets .body .target{
    margin-bottom: 20px;
}
.page .wrapper .targets .body .target .icon{
    width: 80px;
    height: 80px;
    margin-right: 15px;
    font-size: 20px;
}
progress{
    background-color: rgb(0 117 255 / 20%);
    accent-color: var(--blue-color);
    align-self: flex-end;
    height: 4px;
    margin-bottom: 12px;
    width: 100%;
    
}
.page .wrapper .targets .body .target  .icon {
    background-color: rgb(0 117 255 / 20%);
    color: var(--blue-color);
}
progress::-webkit-progress-bar{
    background-color: rgb(0 117 255 / 20%);
}
progress::-webkit-progress-value {
    background-color: var(--blue-color);
}
progress::-moz-progress-bar{
    background-color: var(--blue-color);
}
.page .wrapper .targets .body .target .details progress span {
    position: absolute;
    top: -35px;
    font-weight: normal;
    color: white;
    font-size: 14px;
    padding: 2px 5px;
    border-radius: 6px;
}

.page .wrapper .targets .body .blue .details progress::-webkit-progress-bar span {
    left: 75%;
    background-color: var(--blue-color);
}

.page .wrapper .targets .body .orange .icon {
    background-color: rgb(245 158 11 / 20%);
    color: var(--orange-color);
}
.page .wrapper .targets .body .green .icon{
    background-color: rgb(34 197 94 / 20%);
    color: var(--green-color);
}
.page .wrapper .targets .body .target .details{
    flex: 1;
}
.page .wrapper .targets .body .target .details span:last-of-type {
    margin: 5px 0 10px;
    font-weight: bold;
    
}
.page .wrapper .targets .body .target .details .progress{
    height: 4px;
    position: relative;
}

.page .wrapper .targets .body .orange .details .progress {
    background-image: linear-gradient(to right, var(--orange-color) 55%, rgb(245 158 11 / 20%) 45%);
}
.page .wrapper .targets .body .green .details .progress {
    background-image: linear-gradient(to right, var(--green-color) 75%, rgb(34 197 94 / 20%) 25%);
}
.page .wrapper .targets .body .target .details .progress span {
position: absolute;
top: -35px;
font-weight: normal;
color: white;
font-size: 14px;
padding: 2px 5px;
border-radius: 6px;
}
.page .wrapper .targets .body .blue .details .progress span {
    left: 75%;
    background-color: var(--blue-color);
    content: "80%";
}

.page .wrapper .targets .body .orange .details .progress span {
        content: "55%";
    background-color: var(--orange-color);
    left: 50%;
}

.page .wrapper .targets .body .green .details .progress span {
        content: "75%";
    background-color: var(--green-color);
    left: 70%;
}
.page .wrapper .targets .body .target .details .progress span::after {
    position:absolute;
    content: "";
    border-color: var(--blue-color) transparent transparent transparent;
    border-width: 5px;
    border-style: solid;
    bottom: -10px;
    left: 50%;  
    transform: translateX(-50%);
}
.page .wrapper .tickets .text h2 {
    margin: 0;
}
.page .wrapper .tickets .text p{
    margin: 10px 0 20px;
    text-transform: capitalize;
    font-size: 15px;
    color: var(--grey-color);
}

.page .wrapper .tickets .body .ticket{
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
}
@media(max-width:767px){
.page .wrapper .tickets .body .ticket {
    width: 100%;
}
}
.page .wrapper .tickets .body .ticket i{
    font-size: 32px;
    margin-bottom: 10px;
}
.page .wrapper .tickets .body .orange i {
    color: var(--orange-color);
}

.page .wrapper .tickets .body .blue i {
    color: var(--blue-color);
}

.page .wrapper .tickets .body .green i {
    color: var(--green-color);
}

 .page .wrapper .tickets .body .red i {
    color: var(--red-color);
 }
.page .wrapper .tickets .body .ticket span:first-of-type{
    font-size: 25px;
    font-weight: bold;    
    color: black;
    margin-bottom: 5px;
}
.page .wrapper .tickets .body .ticket span:last-of-type {
    text-transform: capitalize;
    color: var(--grey-color);
    font-size: 13px;
}
.page .wrapper .latest-news h2{
margin: 0 0 25px;
text-transform: capitalize;
}

.page .wrapper .latest-news .new:not(:last-of-type) {
    border-bottom: 1px solid #EEE;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.page .wrapper .latest-news .new img{
    width: 100px;
    margin-right: 15px;
    
}
.page .wrapper .latest-news .new .text{
        text-transform: capitalize;
        flex-grow: 1;
}
.page .wrapper .latest-news .new .text h3{
    margin: 0 0 6px;
    font-size: 16px;
}
.page .wrapper .latest-news .new .text p{
    margin: 0;
    text-transform: capitalize;
    font-size: 14px;
    color: var(--grey-color);
}
.page .wrapper .latest-news .new  span{
  background-color: #eee;
  padding: 4px 10px;
  border-radius: 6px;
  font-size:13px ;
  text-transform: capitalize;
  font-weight: 500;
  
}
.latest-tasks .task{
    position: relative;
}
.latest-tasks .task::before {
    content: "\f2ed";
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    position: absolute;
    font-family: "font awesome 6 free";
    transition: 0.3s;
}
.latest-tasks .task::before:hover {
   color: var(--red-color);
}
.latest-tasks h2{
    margin: 0 0 25px;
    text-transform: capitalize;
}


.latest-tasks .task:not(:last-of-type){
    border-bottom: 1px solid #EEE;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.latest-tasks .done{
    text-decoration: line-through;
    opacity: 0.3;
}

.latest-tasks .task h3{
    margin-bottom: 5px;
    font-size: 15px;
    color: black;
}
.latest-tasks .task p{
    color: var(--grey-color);
    margin: 0;
}

.search h2{ 
    margin: 0 0 25px;
}
.search > div:first-of-type{
    margin: 0 0 10px;
    font-size: 16.5px;
    
}
.search .item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;    
}
.search .item .count{
    background-color: #eee;
    font-size: 13px;
    padding: 4px 10px;
    border-radius: 6px;
    font-weight: 500;
}
.uploads h2{
    margin: 0 0 25px;
}
.uploads .file:not(:last-of-type){
    border-bottom: 1px solid #EEE;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.uploads .file img{
    width: 40px;
    margin-right: 10px;
}
.uploads .file h3{
    font-weight: 500;
    font-size: 16px;
}
.uploads .file p {
    color: var(--grey-color);
    font-size: 15px;
}
.uploads .file h3,
.uploads .file p {
    margin: 0 ;
}
.uploads .file .size{
    background-color: #eee;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 6px;
}
.progress{
    position: relative;
}
.progress h2{
    margin: 0 0 25px 0;
}
.progress ul {
    position: relative;
    margin: 0;
}
.progress ul::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    background-color: var(--blue-color);
    left: 11px;
    z-index: 1;
}

.progress ul li{
    margin-top: 25px;
    font-weight: 500;
}
.progress ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-right: 20px;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    z-index: 2  ;
}
.progress ul .done::before {
    background-color: var(--blue-color);
}
.progress ul .current::before {
    animation: change-color 0.8s infinite  alternate;
}
@keyframes change-color{
    0%,75%{
        background-color: var(--blue-color);
    }
    75%,100%{
        background-color: white;
    }
}
.lunch-icon{
    width: 160px;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.1;
}
.reminders h2 {
    margin: 0 0 25px 0;
}
.reminders ul{
    margin: 0;
}
.reminders ul li{
    margin-top: 15px ;
}
.reminders ul li  .key{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 15px;
}
.reminders ul .blue .key {
    background-color: var(--blue-color);
}

.reminders ul .green .key {
    background-color: var(--green-color);
}

.reminders ul .orange .key {
    background-color: var(--orange-color);
}

 .reminders ul .red .key {
    background-color: var(--red-color);
 }
.reminders ul li div{
    border-left: 2px solid ;
    padding-left: 15px;
}
.reminders ul .blue div{
    border-color: var(--blue-color);
}
.reminders ul .green div {
    border-color: var(--green-color);
}
.reminders ul .orange div {
    border-color: var(--orange-color);
}
.reminders ul .red div {
    border-color: var(--red-color);
}
.reminders ul li div p{
    margin: 0 0 5px 0;
    font-weight: bold;
    font-size:14px ;
}
.reminders ul li div span {
    margin: 0;
    font-size: 13px;
    color: var(--grey-color);
}

.post h2{
    margin: 0 0 25px;
}


.post .profile img{
    width: 50px;
    margin-right: 15px;
}
    

.post .profile .text p{
    margin: 0 0 5px 0;
    font-weight: bold;
}

.post .profile .text span{
    margin: 0;
    color: var(--grey-color);
}
.post .post-content { 
    margin: 20px 0;
    line-height: 1.8;
    min-height: 140px;
    font-weight: 500;
    padding: 20px 0 ;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}
.social-media h2 {
    margin: 0 0 25px;
}
.social-media .box{
    margin-bottom: 10px;
    font-weight: 500;
    padding: 15px;
    position: relative;
    padding-left: 70px;
}
.social-media .box i {
position: absolute;
left: 0;
top: 0;
width: 52px;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
color: white;
font-size: 2em;
   
}
.social-media .box::before{
    content: "";
    position: absolute;
}
.social-media .box a {
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 13px;
}
.social-media .twitter{
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;

}

.social-media .twitter a,
.social-media .twitter i{
    background-color: #1da1f2;
}
.social-media .face-book {
    background-color: rgb(24 119 242 / 20%);
    color: #1da1f2;

}

.social-media .face-book a ,
    .social-media .face-book i {
    background-color: #1877f2;
}
.social-media .youtube {
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;

}

.social-media .youtube a ,
.social-media .youtube i {
    background-color: #ff0000;
}
.social-media .linked-in {
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;

}

.social-media .linked-in a,
.social-media .linked-in i {
    background-color: #0077b5;
}